.profile-image-edit {
  width: 13vw;
  height: 13vw;
  border-radius: 6.5vw;
  max-width: 55px;
  max-height: 55px;
  object-fit: cover;
  object-position: top;
}

.profile-image-edit:hover {
  background: url("../../assets/update-photo.svg") center center no-repeat;
  background-size: cover;
  transition: all 400ms;
  opacity: 0.5;
}

.delete-account-container {
  background-color: #ffffff;
  position: fixed;
  transform: translateY(800px);
  transition: all 400ms;
  width: 10vw;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 6px;
}

.show-delete-account-container {
  background-color: #ffffff;
  position: relative;
  transform: translateY(8vh);
  transition: all 400ms;
  width: 10vw;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0 6px 6px 6px;
}

.reasons {
  padding: 0px 8px 0px 0px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 12px;
  transition: all 400ms ease-out;
  cursor: pointer;
}

.reasons:hover {
  background-color: #e97272;
  transform: scale(0.95);
  color: #ffffff;
}

/* Mobile */
@media screen and (max-width: 30em) and (orientation: portrait) {
  .show-delete-account-container {
    width: 86vw;
    transform: translateY(2vh);
  }
}

/* Mobile Landscape */
@media screen and (max-width: 30em) and (orientation: landscape) {
  .show-delete-account-container {
    width: 86vw;
    transform: translateY(2vh);
  }
}
