.container-forgot-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  background-color: #ffffff;
  max-height: unset;
  height: auto;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.go-back-button-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  width: 2vw;
  height: 2vw;
  appearance: none;
  margin-left: 2vw;
  border-radius: 1vw;
}

.image-go-back-button-desktop {
  height: 12vw;
  width: 10vw;
  max-width: 24px;
  max-height: 24px;
}

.title-forgot-password {
  width: 92%;
  text-align: start;
  font-weight: 500;
  min-width: 80px;
  font-size: 22px;
}

.line {
  height: 1px;
  width: 80vw;
  background-color: rgb(217, 217, 217);
  margin-top: 5px;
}

.instructions-container {
  display: flex;
  width: 76vw;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  background-color: rgb(217, 217, 217);
  padding: 0px 2vw;
  border-radius: 1vw;
  transition: all 400ms;
}

.container-with-instructions-to-send {
  display: flex;
  width: 80vw;
  flex-direction: row;
  align-items: center;
}

.button-send {
  color: #ffffff;
  padding: 0px;
  width: 20vw;
  height: 4.8vh;
  margin-left: 2vw;
  border-radius: 12vw;
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  background: #d88db6;
  border: none;
  transition: all 400ms;
}

.button-send-2 {
  color: #ffffff;
  padding: 0px;
  width: 20vw;
  height: 4.8vh;
  margin-left: 2vw;
  border-radius: 12vw;
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  background: #92cdc8;
  border: none;
  transition: all 400ms;
}

.button-send:disabled {
  background: #d9d9d9;
  cursor: not-allowed;
}

.button-send-2:disabled {
  background: #d9d9d9;
  cursor: not-allowed;
}

.container-with-instructions-to-send-2 {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.error-message-for-security-questions {
  color: rgb(255, 85, 85);
  width: 80vw;
  margin-block: 8px 0px;
  text-align: center;
  font-size: small;
  padding: 0;
  font-weight: 300;
}

.container-button-send {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
  z-index: 1;
}

.error-message-for-old-password {
  color: rgb(255, 85, 85);
  width: 80vw;
  margin-block: 8px 0px;
  text-align: center;
  font-size: small;
  padding: 0;
  font-weight: 300;
}

/* Mobile */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .instructions-container {
    padding: 1vw 4vw;
    height: 12vh;
    border-radius: 6vw;
    width: 78vw;
  }

  .button-send {
    width: 80vw;
    height: 6.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12vw;
    border: none;
    max-width: 620px;
    max-height: 62px;
  }

  .container-with-instructions-to-send-2 {
    flex-direction: column;
  }

  .container-button-send {
    flex-direction: column;
  }

  .error-message-for-old-password {
    margin-block-start: 1.33em;

    margin-block-end: 0px;
  }

  .button-send-2 {
    width: 80vw;
    height: 6.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12vw;
    border: none;
    max-width: 620px;
    max-height: 62px;
  }

  .error-message-for-security-questions {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .password-condiction-list {
    max-width: 80vw;
    padding: 2vw 4vw;
  }

  .line {
    width: 86vw;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .button-send {
    width: 80vw;
    height: 6.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12vw;
    border: none;
    max-width: 620px;
    max-height: 62px;
  }

  .container-with-instructions-to-send-2 {
    flex-direction: column;
  }

  .go-back-button-desktop {
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
  }

  .instructions-container {
    padding: 5px 2vw;
    width: 78vw;
    height: 18vh;
  }

  .button-send-2 {
    height: 6.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12vw;
    border: none;
    max-height: 62px;
  }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .container-button-send {
    justify-content: center;
  }

  .button-send {
    width: 80vw;
    max-width: 620px;
    max-height: 62px;
  }

  .button-send-2 {
    width: 80vw;
    height: 6.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12vw;
    border: none;
    max-width: 620px;
    max-height: 62px;
  }
}
